* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  min-height: 100vh;
}

.container {
  background-color: black;
  /* background: linear-gradient(to bottom, #F0BE59, #FF4F86); */
  min-height: 100vh;
  width: 100%;
}

/* HOME PAGE */

.background {
  /* background-image: linear-gradient(#EF4700 20%, #FF9919 90%); */
  background-image: linear-gradient(#000000 20%, #1E2C43 40%, #5A5ED3 65%, #E1A589 99%);
  height: 100%; 
  width: 100%;
  position: absolute; 
  top: 0; 
  left: 0;
}

.palm-tree-image {
  background-image: url('http://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Silhouettes-PNG/Palm_Trees_Silhouette_PNG_Clip_Art_Image.png?m=1463584089');
  background-repeat: no-repeat;
  background-size: 500px;
	width: 500px;
  height: 500px;
	position: absolute;
	bottom: 0;
	left: -120px;
}

.birds-image {
  background-image: url('https://www.pngmart.com/files/3/Birds-PNG-Pic.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 100px;
  right: 0;
}

/* OVERVIEW PAGE */

.background-alt {
  /* background-image: linear-gradient(#EF4700 20%, #FF9919 90%); 5A5ED3*/
  background-image: linear-gradient(#000000 20%, #1E2C43 40%, #5A5ED3 65%, #E1A589 90%);
  /* height: 250%;  */
  min-height: 100vh;
  width: 100%;
  position: absolute; 
  top: 0; 
  left: 0;
  z-index: 3;
}

.top-container {
  /* margin-top:10em; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  /* Make sure text is infront of background images */
  display: block;
  position: relative;
  z-index: 3;
}

.time-btn {
  background-color: "black"; 
  color: "white";
  font-size: "40px"; 
  font-family: "DM Sans"; 
  width: "250px"; 
  height: "250px"; 
  border-radius: "50%";
}

.gradient-divider {
  background: linear-gradient(to right, red, blue);
  height: 5px;
}

/* ANIMATION */

@keyframes move-clouds-back {
  from {background-position: 0 0;}
  to {background-position: 10000px 0}
}

@keyframes move-twinkle-back {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px}
}

.stars, .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: url(stars.png) repeat top center;
  z-index: 0;
} 

.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  height: 20%;
  background: transparent url(twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twinkle-back 200s linear infinite;
}

.clouds {
  background: transparent url(clouds.png) repeat top center;
  z-index: 2;
  opacity: .4;
  animation: move-clouds-back 200s linear infinite;
}

/* CSS for Scrollbar */
/* The main scrollbar track */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar track */
}

/* The draggable scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #232323; 
  border-radius: 15px;
}

/* When hovering over the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: #232323; 
}

/* The scrollbar track when it's in the track piece not covered by the thumb */
::-webkit-scrollbar-track {
  background-color: #121212; 
  border-radius: 15px;
}

/* The scrollbar track when it's in the track piece covered by the thumb */
::-webkit-scrollbar-track-piece {
  background-color: #121212; 
  border-radius: 15px;
}

/* LOGIN PAGE CSS */

.login-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* height: 50%; */
  border-radius: 20px;
  box-shadow: 0px 10px 20px 10px rgba(255,255,255,0.3);
}