* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: DM Sans;
  color: white;
}

.app {
  position: relative;
  min-height: 100vh;
}

.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(to bottom, #F0BE59, #FF4F86); */
  min-height: 100vh;
  width: 100%;
}

.centered-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-title {
  font-size: 60px;
}

.error-text {
  color: red;
}

.auto-top-margin-padding {
  margin-top: auto; 
  padding: 1rem;
}

.title-welcome {
  font-size: 32px;
}

.title-padding {
  padding-bottom: 0.5rem;
}

.title-text-divider {
  padding-bottom: 0.5rem;
}

.title-divider-right {
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  margin-left: auto;
}

/* ALBUM & ARTIST IMAGES CSS */

.album {
  border-radius: 5px; 
  width: 64px;
  height: 64px;
}

.artist {
  border-radius: 50%; 
  margin-right: 1rem;
  width: 64px; 
  height: 64px;
}

.spotify-hyperlink {
  display: flex;
  justify-content: center;
}

.hyperlink {
  color:  black !important;
}

.album-alt {
  border-radius: 5px; 
  width: 100px;
  height: 100px;
  margin: 0.5rem;
}

/* HOME CSS */

.background {
  /* background-image: linear-gradient(#EF4700 20%, #FF9919 90%); */
  background-image: linear-gradient(#000000 20%, #1E2C43 40%, #5A5ED3 65%, #E1A589 99%);
  height: 100%; 
  width: 100%;
  position: absolute; 
  top: 0; 
  left: 0;
  z-index: 0;
}

.palm-tree-image {
  background-image: url('http://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Silhouettes-PNG/Palm_Trees_Silhouette_PNG_Clip_Art_Image.png?m=1463584089');
  background-repeat: no-repeat;
  background-size: 500px;
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 0;
  left: -120px;
  z-index: -1;
}

.birds-image {
  background-image: url('https://www.pngmart.com/files/3/Birds-PNG-Pic.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: -1;
}

/* OVERVIEW CSS */

.flex-background {
  /* background-image: linear-gradient(#EF4700 20%, #FF9919 90%); 5A5ED3*/
  background-image: linear-gradient(#000000 20%, #1E2C43 40%, #5A5ED3 65%, #E1A589 90%);
  min-height: 100vh;
  width: 100%;

  left: 0;
  z-index: 0;
}

.gradient-divider {
  background: linear-gradient(to right, red, blue);
  height: 5px;
  margin-left: 1rem !important; 
  margin-right: 1rem !important;
  margin-bottom: 1rem !important; 
}


/* RECENTLY PLAYED CSS */

.music-row {
  padding: 0.5rem;
}

.num-container {
  width: 7.5%
}

.track-details-container {
  width: 80%;
}

.track-played-container {
  width: 12.5%;
}

.music-container {
  padding: 0.5rem;
  width: 10%;
}

.recent-info-container {
  width: 40%;
}

.recent-charts-container {
  width: 60%;
}

/* ARTISTS CSS */

.artist-row {
  padding: 0.5rem;
}

.artist-details-container {
  width: 45%;
}

.artist-rating-container {
  width: 27.5%;
}

.split-container {
  width: 50%;
}

/* GENRE SECTION */

.genre-container {
    display: flex;
    align-items: center; 
    box-shadow: 0px 4px 4px 4px rgb(0,0,0,0.35);
    width: 400px; 
    height: 75px; 
    background-color: #5358C3; 
    border-radius: 10px;
    margin: 1rem;
    padding-left: 1rem;
}

/* CHARTS */

.chart-wrapper {
  height: 500px;
  /* width: 100%;  */
  padding: 1rem;
}

/* RATING */

.rating-text-container {
  width: 60px;
}

.rating-container {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* DESCRIPTION TEXTS */

.small-desc-white {
  font-size: 12px; 
  color: white;
}

.small-desc-lightgrey {
  font-size: 12px; 
  color: lightgrey;
}

.small-desc-grey {
  font-size: 12px; 
  color: grey;
}

.red-text {
  color: #ed174c;
}

/* PADDINGS */

.padding-1-rem {
  padding: 1rem;
}

.padding-1-rem-sides {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-2-rem {
  padding: 2rem;
}

.padding-2-rem-side {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* MUI COMPONENTS */

.default-divider {
  background-color: white; 
  height: 5px;
  margin-left: 1rem !important; 
  margin-right: 1rem !important;
  margin-bottom: 1rem !important; 
}

.genre-card {
  background-color: #5358C3 !important;
  color: white !important;
  box-shadow: 0px 4px 4px 4px rgb(0,0,0,0.35) !important;
}

.exit-icon {
  opacity: 1.0;
  color: white;
}

.flashon-icon {
  color: orange;
}

.grey-icon {
  opacity: 1.0;
  color: lightgrey;
}

.mood-icon {
  color: cyan;
}

.nightlife-icon {
  color: #4E119A;
}

.piano-icon {
  color: #002b5c;
}

.record-icon {
  color: tan;
}

.star-icon {
  color: gold;
}

.volume-icon {
  color: #1ED760;
}

.auth-btn {
  background-color: black !important;
  font-family: DM Sans !important; 
  font-weight: bold !important; 
  border-radius: 20px !important; 
  height: 50px !important; 
  width: 200px !important;  
}

.recommend-btn {
  background-color: #F75B00 !important;
  font-family: DM Sans !important; 
  font-weight: bold !important; 
  border-radius: 20px !important; 
  height: 75px !important; 
  width: 225px !important;  
}

.logout-btn {
  background-color: #F75B00 !important;
  font-family: DM Sans !important; 
  font-weight: bold !important; 
  border-radius: 20px !important; 
}

.bar-tooltip {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: black; 
  color: white;
  padding: 6px;
}

.line-tooltip {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  background: black; 
  padding: 10px; 
  border-radius: 5px;
}

.spinner-dimensions {
  width: 100px !important;
  height: 100px !important;
}

.spinner-load {
  color: #F75B00 !important;
  width: 100px !important;
  height: 100px !important;
  margin: 1rem;
}

.radio-group-container {
  font-family: DM Sans;
  background-color: #1A263A;
  border-radius: 15px;
  margin: 0.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* ANIMATION */

@keyframes move-clouds-back {
  from {background-position: 0 0;}
  to {background-position: 10000px 0}
}

@keyframes move-twinkle-back {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px}
}

.stars, .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: url(stars.png) repeat top center;
  z-index: -2;
} 

.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  height: 20%;
  background: transparent url(twinkling.png) repeat top center;
  z-index: -1;
  animation: move-twinkle-back 200s linear infinite;
}

.clouds {
  background: transparent url(clouds.png) repeat top center;
  z-index: 0;
  opacity: .4;
  animation: move-clouds-back 200s linear infinite;
}

/* CSS for Scrollbar */
/* The main scrollbar track */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar track */
}

/* The draggable scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #232323; 
  border-radius: 15px;
}

/* When hovering over the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: #232323; 
}

/* The scrollbar track when it's in the track piece not covered by the thumb */
::-webkit-scrollbar-track {
  background-color: #121212; 
  border-radius: 15px;
}

/* The scrollbar track when it's in the track piece covered by the thumb */
::-webkit-scrollbar-track-piece {
  background-color: #121212; 
  border-radius: 15px;
}
